<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="teste.js"></script>

<input type="text" id="titulo">
<input type="text" id="descricao">
<input type="button" id="enviar" value="Enviar">

